@charset "UTF-8";
#main-wrapper-tn .container,
#main-wrapper-tn .no-gutters>.col,
#main-wrapper-tn .no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0
}

#main-wrapper-tn #section-header #section-menu-header .navbar-default .navbar-collapse .navbar-nav li a,
#main-wrapper-tn a:hover {
    color: #fff
}

#main-wrapper-tn .cd-headline.type .cd-words-wrapper.selected::after,
#main-wrapper-tn .cd-headline.type b {
    visibility: hidden
}

#main-wrapper-tn {
    font-family: BerninoSans-CondensedRegular!important
}

#main-wrapper-tn .no-gutters {
    margin-right: 0;
    margin-left: 0
}

#main-wrapper-tn .container {
    max-width: 1170px
}

@media only screen and (max-width:768px) {
    #main-wrapper-tn .container .row {
        margin-right: 0
    }
    #main-wrapper-tn .container .row>div {
        padding-right: 0
    }
}

#main-wrapper-tn .clrbt {
    clear: both
}

#main-wrapper-tn .right-padding-clear {
    padding-right: 0
}

#main-wrapper-tn .left-padding-clear {
    padding-left: 0
}

#main-wrapper-tn img {
    max-width: 100%
}

#main-wrapper-tn a {
    cursor: pointer;
    text-decoration: none!important
}

#main-wrapper-tn .error {
    border-bottom: 2px solid #EA900F!important
}

#main-wrapper-tn #section-header {
    background: url(../img/header-baner.jpg) no-repeat;
    padding-bottom: 100px
}

#main-wrapper-tn #section-header #section-menu-header {
    position: fixed;
    z-index: 10000;
    width: 100%
}

#main-wrapper-tn #section-header #section-menu-header .navbar-default {
    background: #000;
    border: none
}

#main-wrapper-tn #section-header #section-menu-header .navbar-default .logo-item {
    position: absolute
}

@media only screen and (max-width:1199px) {
    #main-wrapper-tn .right-padding-clear {
        padding-right: 15px
    }
    #main-wrapper-tn .left-padding-clear {
        padding-left: 15px
    }
    #main-wrapper-tn #section-header #section-menu-header .navbar-default .logo-item img {
        width: 50%;
        margin-left: 30px
    }
    #main-wrapper-tn #section-header #section-menu-header .navbar-default .navbar-header {
        margin-right: 0
    }
}

#main-wrapper-tn #section-header #section-menu-header .navbar-default .navbar-collapse {
    text-align: center;
    border: none
}

#main-wrapper-tn #section-header #section-menu-header .navbar-default .navbar-collapse .navbar-nav {
    float: none;
    display: inline-block;
    margin-left: 150px
}

#main-wrapper-tn #section-header #section-menu-header-vertical {
    position: fixed;
    right: -200px;
    top: 30%;
    z-index: 10000
}

@media only screen and (max-width:1199px) {
    #main-wrapper-tn #section-header #section-menu-header .navbar-default .navbar-collapse .navbar-nav {
        margin-left: 0
    }
    #main-wrapper-tn #section-header #section-menu-header-vertical {
        top: 300px
    }
}

#main-wrapper-tn #section-header #section-menu-header-vertical ul {
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    color: #fff;
    list-style-type: none
}

#main-wrapper-tn #section-header #section-menu-header-vertical ul li {
    float: left
}

#main-wrapper-tn #section-header #section-menu-header-vertical ul li a {
    color: #908020;
    display: block;
    margin: 0 0 0 30px
}

#main-wrapper-tn #section-header .main-title-baner {
    margin-top: 20%;
    font-size: 91px;
    font-weight: 700;
    color: #fff;
    line-height: 50px
}

#main-wrapper-tn #section-header .main-title-baner .main-shadow-title {
    text-shadow: 3px 0 0 rgba(244, 215, 30, .34);
    -moz-transform: matrix(1.50007, 0, 0, 1.50007, 0, 0)
}

#main-wrapper-tn #what-we-can-do-section .wwcd-main-title-cntr .wwcd-main-title,
#main-wrapper-tn #what-we-did-section #osiagniecia {
    text-shadow: 3px 0 0 rgba(244, 215, 30, .34);
    -moz-transform: matrix(.78114, 0, 0, .78114, 0, 0);
    -webkit-transform: matrix(.78114, 0, 0, .78114, 0, 0);
    -ms-transform: matrix(.78114, 0, 0, .78114, 0, 0)
}

#main-wrapper-tn #section-header .main-title-baner span {
    font-size: 30px;
    color: #fde12f
}

#main-wrapper-tn #section-header .main-title-baner .main-title-baner-continue {
    color: #f3f7fa;
    font-size: 64px;
    font-weight: 700;
    font-family: BerninoSans-CondensedBold;
    margin: 0 0 0 200px
}

#main-wrapper-tn #section-header .main-title-baner .special-main-seo-title-banner {
    font-size: 60px;
    font-weight: 700;
    margin: 0 0 0 450px;
    font-family: BerninoSans-CondensedBold
}

#main-wrapper-tn #section-header .main-banner-lead {
    font-size: 18px;
    color: #fff
}

#main-wrapper-tn #section-header .main-banner-lead span {
    color: #fde12f
}

@media only screen and (max-width:1199px) {
    #main-wrapper-tn #section-header .main-banner-lead {
        margin-top: 20px;
        padding: 0 30px
    }
}

#main-wrapper-tn #section-header .main-banner-lead div {
    line-height: 30px;
    font-size: 20px
}

#main-wrapper-tn #section-header .section-header {
    margin-left: 50px;
    margin-top: 2%
}

@media only screen and (max-width:1199px) {
    #main-wrapper-tn #section-header .section-header {
        margin-top: 0
    }
}

@media only screen and (max-width:768px) {
    #main-wrapper-tn .letters-section {
        margin: 80px 0 0
    }
}

#main-wrapper-tn #what-we-did-section {
    background: url(../img/what-we-do-section-2-bck.jpg) top left no-repeat
}

#main-wrapper-tn #what-we-did-section h2 {
    margin: 70px 0;
    font-size: 46px;
    text-align: center;
    text-transform: uppercase
}

#main-wrapper-tn #what-we-did-section #osiagniecia {
    padding-right: 80px;
    font-size: 62px;
    letter-spacing: 3px
}

@media only screen and (max-width:1199px) {
    #main-wrapper-tn #what-we-did-section h2 {
        margin: 30px 0
    }
    #main-wrapper-tn #what-we-did-section #osiagniecia {
        padding: 0 10px
    }
}

#main-wrapper-tn #what-we-did-section .gauge-wrapper {
    position: relative;
    text-align: center;
    margin: 0 auto
}

#main-wrapper-tn #what-we-did-section .gauge-wrapper .gg-label-special {
    position: absolute;
    top: 245px;
    left: 50%;
    margin-left: -50px;
    font-size: 19px
}

#main-wrapper-tn #what-we-did-section .gauge-wrapper .gg-label-special.short {
    margin-left: -30px
}

@media only screen and (max-width:768px) {
    #main-wrapper-tn #what-we-did-section .gauge-wrapper .gg-label-special.short {
        top: 128px;
        font-size: 12px;
        margin-left: -15px
    }
}

@media only screen and (max-width:500px) {
    #main-wrapper-tn #what-we-did-section .gauge-wrapper .gg-label-special.short-xs {
        top: 163px;
        font-size: 12px
    }
}

@media only screen and (min-width:850px) and (max-width:1472px) {
    #main-wrapper-tn #what-we-did-section .gauge-wrapper .gg-label-special.short-xs {
        top: 275px;
        margin-left: -15px
    }
}

@media only screen and (max-width:1199px) {
    #main-wrapper-tn #what-we-did-section .gauge-wrapper .gg-label-special {
        top: 128px;
        font-size: 12px;
        margin-left: -35px
    }
}

#main-wrapper-tn #what-we-did-section .gauge-wrapper .title-guage {
    text-align: center;
    font-size: 24px;
    margin: 0 0 20px
}

@media only screen and (max-width:1199px) {
    #main-wrapper-tn #what-we-did-section .gauge-wrapper .title-guage {
        margin: 30px 0 5px
    }
}

#main-wrapper-tn #what-we-did-section .gauge-wrapper .lead-guage {
    font-size: 20px;
    max-width: 260px;
    margin: -10px auto 0
}

#main-wrapper-tn #what-we-did-section .gauge-wrapper .lead-guage span {
    background: #ffd200;
    padding: 0 20px
}

#main-wrapper-tn #what-we-did-section .gauge-wrapper .gauge {
    background: url(../img/guage-background.png) right 26px top 26px no-repeat;
    margin: 0;
    display: inline-block;
    width: 310px;
    height: 310px;
    font-weight: 100
}

@media only screen and (max-width:1199px) {
    #main-wrapper-tn #what-we-did-section .gauge-wrapper .gauge {
        width: 150px;
        height: 150px;
        background: url(../img/guage-background-mobile.png) center no-repeat
    }
}

#main-wrapper-tn .wwds-icon-progress {
    margin-top: 60px;
    position: relative
}

#main-wrapper-tn .wwds-icon-progress .bck-icon-progress {
    width: 100%;
    height: auto;
    max-width: 500px;
    position: absolute;
    right: -350px;
    top: -40px
}

#main-wrapper-tn .wwds-icon-progress img {
    margin: 0 auto;
    display: block
}

#main-wrapper-tn .wwds-icon-progress .extra-label-value {
    text-align: center;
    font-size: 18px;
    font-weight: 700
}

#main-wrapper-tn .wwds-icon-progress .count-value {
    font-family: Verdana;
    font-size: 51px;
    font-weight: 700;
    text-align: center;
    padding-top: 20px
}

#main-wrapper-tn .wwds-icon-progress .count-value span {
    font-size: 35px;
    font-weight: 400
}

#main-wrapper-tn .wwds-icon-progress .wwds-description {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0 0
}

#main-wrapper-tn .wwds-icon-progress .wwds-description span {
    background: #ffd200;
    padding: 0 5px
}

@media only screen and (max-width:1199px) {
    #main-wrapper-tn .wwds-icon-progress .wwds-description {
        margin-bottom: 40px
    }
}

#main-wrapper-tn #what-we-can-do-section {
    margin: 140px 0 0;
    padding: 0;
    background: url(../img/what-we-can-do-background.jpg) no-repeat;
    min-height: 750px
}

@media only screen and (max-width:1199px) {
    #main-wrapper-tn #what-we-can-do-section {
        margin: 100px 0 0
    }
}

@media only screen and (max-width:1600px) {
    #main-wrapper-tn #what-we-can-do-section {
        background: url(../img/what-we-can-do-background.jpg) -330px bottom no-repeat
    }
}

#main-wrapper-tn #what-we-can-do-section .what-we-can-do-extra-title {
    position: absolute;
    margin-left: -350px;
    max-width: 300px;
    font-weight: 700;
    color: #747576;
    font-size: 52px;
    line-height: 50px;
    background: url(../img/arrow-right.png) right top no-repeat
}

@media only screen and (max-width:1367px) {
    #main-wrapper-tn #what-we-can-do-section .what-we-can-do-extra-title {
        font-size: 32px;
        margin-left: -190px!important
    }
}

#main-wrapper-tn #what-we-can-do-section .what-we-can-do-extra-title span {
    font-size: 61px;
    color: #1e2229;
    margin-right: 0
}

@media only screen and (max-width:1800px) {
    #main-wrapper-tn #what-we-can-do-section .what-we-can-do-extra-title {
        text-align: right;
        margin-left: -130px;
        background: 0 0
    }
}

#main-wrapper-tn #what-we-can-do-section .wwcd-main-title-cntr {
    text-align: center
}

#main-wrapper-tn #what-we-can-do-section .wwcd-main-title-cntr .wwcd-main-title {
    margin-top: -50px;
    display: inline-block;
    padding: 30px 120px;
    font-size: 62px;
    text-transform: uppercase;
    background: rgba(244, 248, 250, .9)
}

@media only screen and (max-width:768px) {
    #main-wrapper-tn #what-we-can-do-section .wwcd-main-title-cntr .wwcd-main-title {
        padding: 10px
    }
}

#main-wrapper-tn #what-we-can-do-section .wwcd-main-title-cntr .wwcd-main-title b span {
    font-family: Helvetica;
    font-size: 50px
}

#main-wrapper-tn #what-we-can-do-section .what-we-can-do-section-content {
    font-size: 20px;
    background: rgba(255, 255, 255, .9);
    margin-top: 80px;
    padding: 30px
}

@media only screen and (max-width:1400px) {
    #main-wrapper-tn #what-we-can-do-section .what-we-can-do-section-content {
        width: 95%!important;
        max-width: auto
    }
}

#main-wrapper-tn #what-we-can-do-section .what-we-can-do-section-content .wwcd-title {
    font-size: 25px;
    font-weight: 700;
    display: block;
    margin-bottom: 30px
}

@media only screen and (max-width:1199px) {
    #main-wrapper-tn #what-we-can-do-section .what-we-can-do-section-content {
        margin-top: 0
    }
    #main-wrapper-tn #what-we-can-do-section .what-we-can-do-section-content .wwcd-title {
        display: block;
        margin-bottom: 20px;
        margin-top: 40px
    }
}

@media only screen and (min-width:992px) and (max-width:1367px) {
    #main-wrapper-tn #what-we-can-do-section .what-we-can-do-section-content .special-resolution {
        width: 17%;
        padding: 0
    }
    #main-wrapper-tn #what-we-can-do-section .what-we-can-do-section-content .special-sub-resolution {
        width: 20.66666667%
    }
}

#main-wrapper-tn #what-we-can-do-section .what-we-can-do-section-content .wwcd-title-last {
    font-size: 24px;
    margin-bottom: 0!important
}

#main-wrapper-tn #what-we-can-do-section .what-we-can-do-section-content .wwcd-lead {
    display: block
}

@media only screen and (min-width:992px) and (max-width:1800px) {
    #main-wrapper-tn #what-we-can-do-section .wwcdsc-special-column {
        margin-left: 16.66666667%
    }
}

@media only screen and (max-width:1367px) {
    #main-wrapper-tn #what-we-can-do-section .wwcdsc-special-column {
        margin-left: 11.66666667%
    }
}

#main-wrapper-tn #we-in-action {
    margin-top: 30px;
    font-size: 16px
}

@media only screen and (max-width:768px) {
    #main-wrapper-tn #we-in-action {
        margin-top: 0
    }
}

#main-wrapper-tn #we-in-action .wia-title {
    font-size: 30px;
    font-weight: 700;
    color: #1e2229;
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    min-width: 400px;
    margin-left: -150px;
    margin-top: 180px
}

@media only screen and (max-width:768px) {
    #main-wrapper-tn #we-in-action .wia-title {
        text-align: center;
        margin-left: auto;
        margin-top: auto;
        transform: none;
        font-size: 48px;
        margin-bottom: 20px;
        min-width: auto
    }
}

#main-wrapper-tn #we-in-action .right-subinfo {
    position: absolute;
    right: -80px;
    bottom: 100px;
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    font-size: 16px
}

#main-wrapper-tn #contact-us-section .contact-us-title,
#main-wrapper-tn #we-in-action .wia-title-horizontal {
    text-shadow: 3px 0 0 rgba(244, 215, 30, .34);
    -moz-transform: matrix(.78114, 0, 0, .78114, 0, 0);
    -webkit-transform: matrix(.78114, 0, 0, .78114, 0, 0);
    -ms-transform: matrix(.78114, 0, 0, .78114, 0, 0)
}

#main-wrapper-tn #we-in-action .right-subinfo span {
    background: #ffd200;
    padding: 0 20px
}

#main-wrapper-tn #we-in-action .wia-simple-box {
    margin: 60px 0 0;
    max-width: 235px;
    min-height: 300px;
    background: #f3f7fa;
    padding: 40px 30px 0
}

@media only screen and (max-width:1199px) {
    #main-wrapper-tn #we-in-action .wia-simple-box {
        margin: 0 auto
    }
}

#main-wrapper-tn #we-in-action .wia-simple-box img {
    display: block;
    margin: 0 auto 30px
}

#main-wrapper-tn #we-in-action .wia-simple-box div,
#main-wrapper-tn #we-in-action .wia-simple-box p {
    text-align: center
}

#main-wrapper-tn #we-in-action .wia-simple-box.wia-simple-box-last p {
    padding-top: 25px
}

@media only screen and (max-width:1199px) {
    #main-wrapper-tn #we-in-action .wia-simple-box.wia-simple-box-last p {
        padding-top: 0
    }
}

#main-wrapper-tn #we-in-action .wia-title-horizontal {
    font-size: 62px;
    text-align: center;
    font-family: BerninoSans-CondensedRegular
}

#main-wrapper-tn #we-in-action img.main-process {
    margin: 60px auto 20px;
    display: block;
    width: 100%;
    height: auto;
    max-width: 438px
}

#main-wrapper-tn #we-in-action .main-process-bck {
    position: absolute;
    z-index: -1;
    top: 300px;
    right: -250px
}

@media only screen and (max-width:768px) {
    #main-wrapper-tn #we-in-action .col-lg-3 {
        margin-bottom: 40px
    }
}

#main-wrapper-tn #contact-us-section {
    background: #f3f7fa;
    margin: 40px 0
}

#main-wrapper-tn #contact-us-section .contact-us-lead {
    text-align: center;
    font-size: 35px
}

#main-wrapper-tn #contact-us-section .contact-us-lead input {
    border: none;
    outline: 0;
    background: #f3f7fa;
    width: 100%
}

#main-wrapper-tn #contact-us-section .contact-us-lead input :focus {
    border: none;
    outline: 0
}

#main-wrapper-tn #contact-us-section .contact-us-lead textarea {
    margin-top: 10px;
    width: 500px;
    height: 200px
}

@media only screen and (max-width:768px) {
    #main-wrapper-tn #contact-us-section {
        margin-bottom: 0
    }
    #main-wrapper-tn #contact-us-section .contact-us-lead {
        text-align: center;
        font-size: 24px;
        padding: 0 10px
    }
    #main-wrapper-tn #contact-us-section .contact-us-lead textarea {
        width: 92%;
        display: block;
        margin: 20px auto 0;
        height: 100px
    }
    #main-wrapper-tn #contact-us-section .contact-us-lead #contact-form-the-nets {
        font-size: 18px
    }
}

#main-wrapper-tn #contact-us-section .contact-us-lead .contact-form-label {
    text-align: right
}

#main-wrapper-tn #contact-us-section .contact-us-lead .contact-form-field {
    text-align: left;
    padding-left: 0
}

#main-wrapper-tn #contact-us-section .contact-us-lead .contact-us-company-field,
#main-wrapper-tn #contact-us-section .contact-us-lead .contact-us-emial-field {
    width: 100%
}

#main-wrapper-tn #contact-us-section .contact-us-lead #contact-form-the-nets span {
    display: block;
    margin: 30px 0 0;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase
}

@media only screen and (max-width:768px) {
    #main-wrapper-tn #contact-us-section .contact-us-lead #contact-form-the-nets span {
        font-size: 16px
    }
    #main-wrapper-tn #contact-us-section .contact-us-lead #contact-form-the-nets .send-form-button {
        width: 240px
    }
}

#main-wrapper-tn #contact-us-section .contact-us-lead #contact-form-the-nets .send-form-button {
    margin: 40px 0;
    font-size: 22px;
    background: #fde12f;
    border: none;
    padding: 20px 60px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 240px
}

#main-wrapper-tn #contact-us-section .contact-us-lead .thanks-contact-us {
    margin-bottom: 60px;
    display: block;
    background: #ffd200
}

#main-wrapper-tn #contact-us-section .contact-us-title {
    font-size: 62px;
    text-align: center;
    padding: 30px 0
}

#main-wrapper-tn #case-study-section {
    margin: 60px 0 0;
    position: relative
}

#main-wrapper-tn #case-study-section a {
    cursor: default
}

#main-wrapper-tn #case-study-section a :hover {
    opacity: .6
}

#main-wrapper-tn #case-study-section .header-case-studies {
    position: absolute;
    top: 120px;
    left: 0;
    padding: 70px 170px 70px 0;
    z-index: 1000;
    width: 55%;
    background-color: rgba(255, 255, 255, .9)
}

@media only screen and (max-width:768px) {
    #main-wrapper-tn #case-study-section {
        margin: 0
    }
    #main-wrapper-tn #case-study-section a img {
        opacity: 1
    }
    #main-wrapper-tn #case-study-section .header-case-studies {
        position: relative;
        width: auto;
        padding: 20px;
        top: 0;
        margin-bottom: 20px
    }
}

#main-wrapper-tn #case-study-section .header-case-studies .header-case-studies-right-info {
    position: absolute;
    right: -38px;
    top: 80px;
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    font-size: 12px;
    background: #fde12f;
    padding: 10px;
    font-weight: 700
}

#main-wrapper-tn #case-study-section .header-case-studies .header-case-studies-title {
    font-size: 66px;
    float: right;
    display: block
}

#main-wrapper-tn #case-study-section .header-case-studies .header-case-studies-title span {
    font-weight: 700
}

@media only screen and (max-width:768px) {
    #main-wrapper-tn #case-study-section .header-case-studies .header-case-studies-title {
        font-size: 50px
    }
}

#main-wrapper-tn #case-study-section .header-case-studies .header-case-studies-title .arrow-down {
    position: absolute;
    top: 30%;
    right: 130px;
    background: url(../img/arrow-down.png);
    width: 11px;
    height: 35px
}

#main-wrapper-tn #case-study-section .header-case-studies .header-case-studies-lead {
    float: right;
    clear: both;
    text-align: right;
    font-size: 29px
}

#main-wrapper-tn #formAgreeModal {
    margin-top: 100px;
    font-family: BerninoSans-CondensedRegular
}

#main-wrapper-tn #formAgreeModal .modal-body .err {
    color: red!important
}

#main-wrapper-tn #formAgreeModal .extra-contact {
    color: #fde12f
}

#main-wrapper-tn #formAgreeModal .info-description {
    font-size: 12px;
    height: 100px;
    overflow-y: scroll
}

#main-wrapper-tn #footer-section {
    background: #1b1b1b;
    padding: 20px 0 0;
    color: #fff;
    text-align: right
}

#main-wrapper-tn #footer-section a {
    color: #fff;
    font-size: 20px;
    float: right;
    padding: 0 20px;
    border-right: 1px solid #404040;
    border-left: 1px solid #404040;
    text-align: center
}

@media only screen and (max-width:768px) {
    #main-wrapper-tn #footer-section a {
        border: none;
        padding: 0 5px
    }
}

#main-wrapper-tn #footer-section .social-section .icon-fb {
    display: inline-block;
    width: 22px;
    height: 23px;
    background: url(../img/icon-fb.png) center no-repeat;
    float: right;
    padding: 0 30px;
    border-right: 1px solid #404040;
    border-left: 1px solid #404040
}

@media only screen and (max-width:768px) {
    #main-wrapper-tn #footer-section .social-section .icon-fb {
        border: none;
        padding: 0 5px
    }
}

#main-wrapper-tn #footer-section .social-section .icon-tw {
    display: inline-block;
    width: 22px;
    height: 23px;
    background: url(../img/icon-twit.png)
}

#main-wrapper-tn #footer-section .social-section .icon-linkedin {
    display: inline-block;
    width: 22px;
    height: 23px;
    background: url(../img/icon-linkedin.png) center no-repeat;
    float: right;
    padding: 0 30px;
    border-right: 1px solid #404040
}

@media only screen and (max-width:768px) {
    #main-wrapper-tn #footer-section .social-section .icon-linkedin {
        border: none;
        padding-right: 0
    }
    #main-wrapper-tn #footer-section .social-section .link {
        padding: 0
    }
}

#main-wrapper-tn #footer-section .social-section .icon-google {
    display: inline-block;
    width: 33px;
    height: 22px;
    background: url(../img/icon-google.png)
}

#main-wrapper-tn .cd-headline .outsite span b i {
    color: #fde12f;
    font-size: 80pt
}

@media only screen and (max-width:1199px) {
    #main-wrapper-tn .cd-headline .outsite span b i {
        font-size: 40px
    }
}

#main-wrapper-tn .cd-headline .word-context {
    color: #fde12f
}

#main-wrapper-tn .cd-headline.type .cd-words-wrapper::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90%;
    width: 2px;
    background-color: #fff
}

#main-wrapper-tn .cd-headline.type .cd-words-wrapper.waiting::after {
    -webkit-animation: cd-pulse 1s infinite;
    -moz-animation: cd-pulse 1s infinite;
    animation: cd-pulse 1s infinite
}

#main-wrapper-tn .cd-headline.type .cd-words-wrapper.selected {
    background-color: #fff;
    padding: 0 10px
}

#main-wrapper-tn .cd-headline.type .cd-words-wrapper.selected b {
    color: red
}

#main-wrapper-tn .cd-headline.type b.is-visible {
    visibility: visible
}

#main-wrapper-tn .cd-headline.type i {
    position: absolute;
    visibility: hidden
}

#main-wrapper-tn .cd-headline.type i.in {
    position: relative;
    visibility: visible
}

@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        opacity: 1
    }
    40% {
        -webkit-transform: translateY(-50%) scale(.9);
        opacity: 0
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        opacity: 0
    }
}

@-moz-keyframes cd-pulse {
    0% {
        -moz-transform: translateY(-50%) scale(1);
        opacity: 1
    }
    40% {
        -moz-transform: translateY(-50%) scale(.9);
        opacity: 0
    }
    100% {
        -moz-transform: translateY(-50%) scale(0);
        opacity: 0
    }
}

@keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1
    }
    40% {
        -webkit-transform: translateY(-50%) scale(.9);
        -moz-transform: translateY(-50%) scale(.9);
        -ms-transform: translateY(-50%) scale(.9);
        -o-transform: translateY(-50%) scale(.9);
        transform: translateY(-50%) scale(.9);
        opacity: 0
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0
    }
}

#main-wrapper-tn .up-to-top {
    position: fixed;
    bottom: 10px;
    left: 4px;
    z-index: 100000;
    border-radius: 30px;
    background: url(images/arrow-top.png) 4px 2px no-repeat #fff
}

#main-wrapper-tn .up-to-top a {
    display: block;
    width: 60px;
    height: 60px;
    text-indent: -9999px
}

#main-wrapper-tn .cd-headline.clip span {
    display: inline-block;
    padding: .2em 0
}

#main-wrapper-tn .cd-headline.clip .cd-words-wrapper {
    overflow: hidden;
    vertical-align: top
}

#main-wrapper-tn .cd-headline.clip .cd-words-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%
}

#main-wrapper-tn .cd-headline.clip b {
    opacity: 0
}

#main-wrapper-tn .cd-headline.clip b.is-visible {
    opacity: 1
}

#main-wrapper-tn .section-header {
    font-size: 3.9em;
    font-family: BerninoSans-CondensedRegular
}

#main-wrapper-tn .section-header .cd-first {
    font-size: 30px;
    display: inline;
    vertical-align: middle;
    color: #fff;
    margin-left: 130px
}

@media only screen and (max-width:1199px) {
    #main-wrapper-tn .section-header .cd-first {
        display: block;
        margin-left: 0
    }
}

#main-wrapper-tn .section-header .outsite {
    color: #fde12f;
    padding: 20px;
    display: inline-block;
    font-size: 80pt
}

@media only screen and (max-width:1199px) {
    #main-wrapper-tn .section-header .outsite {
        font-size: 40pt;
        padding: 0
    }
}

#main-wrapper-tn .section-header .cd-words-wrapper {
    perspective: 320px;
    display: inline-block;
    min-height: 100%
}

#main-wrapper-tn .section-header i {
    font-style: normal
}