/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-06-06, 15:21:02
    Author     : Sławomir
*/

/*** FONTS ***/
@font-face {
  font-family: 'BerninoSans-CondensedBold';
  src: url('/ui-ux/fonts/berninosans/BerninoSans-CondensedBold.eot');
  src: url('/ui-ux/fonts/berninosans/BerninoSans-CondensedBold.eot?#iefix') format('embedded-opentype'),
    url('/ui-ux/fonts/berninosans/BerninoSans-CondensedBold.woff') format('woff'),
    url('/ui-ux/fonts/berninosans/BerninoSans-CondensedBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'BerninoSans-CondensedRegular';
  src: url('/ui-ux/fonts/berninosans/BerninoSans-CondensedRegular.eot');
  src: url('/ui-ux/fonts/berninosans/BerninoSans-CondensedRegular.eot?#iefix') format('embedded-opentype'),
    url('/ui-ux/fonts/berninosans/BerninoSans-CondensedRegular.woff') format('woff'),
    url('/ui-ux/fonts/berninosans/BerninoSans-CondensedRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}